@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


      @Html.ActionLink("Download Report ", "DownloadReport", "Home", null, new { @class = "btn btn-default" })


      @Html.ActionLink("Download Dashboard", "DownloadDashboard", "Home", null, new { @class = "btn btn-default" })

      @Html.ActionLink("Get Scheduled Job Result", "GetScheduledJobResult", "Home", null, new { @class = "btn btn-default" })



</div>
